* {
  margin: 0%;
  background-color: #F8FAFC;
  align-items: center;
  justify-items: center;
}

body {
  flex-direction: row;
  align-items: center;
  justify-items: center;
  @media (min-width: 668px) {
    margin: 90px;
    width: 680px;
  }
  @media (max-width: 667px) {
    margin: 30px;
    width: auto;
  }

}

.head-content{
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.card-description {
  @media (min-width: 668px) {
    display: flex;
    align-items: center;
    margin: 24px;
  }
  @media (max-width: 667px) {
    display: grid;
    align-items: start;
    justify-items: start;
    margin: 24px;
  }
  
}

.content-description {
  display: grid;
  justify-items: start;

}

img {
  border-radius: 14px;
  margin: 0px 28px 24px 0px;
  width: 130px;
  
}

.separator {
  margin-top: 28px;
  margin-bottom: 28px;
}


h1 {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  margin: 0px;
}

h2 {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

h3 {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #4D5562;
  margin-top: 20px;
  margin-bottom: 20px;
}